<div class="n_cmtltbox">
			<a href="javascript:;"class="nphoto"><img src="images/npic1.png"></a>
			<dl>
				<dt>会员编号：</dt>
				<dd>{$userinfo['hynumber']}</dd>
			</dl>
			<dl>
				<dt>会员姓名：</dt>
				<dd>{$userinfo['hyname']}</dd>
			</dl>
			<dl>
				<dt>会员系统：</dt>
				<dd>{$userinfo['stocklockedmoney']}元</dd>
			</dl>
			<dl>
				<dt>股东系统：</dt>
				<dd>{$userinfo['stockburse']}元</dd>
			</dl>
			<dl>
				<dt>养老系统：</dt>
				<dd>{$userinfo['fenhong']}元</dd>
			</dl>
			<dl>
				<dt>注册币：</dt>
				<dd>{$userinfo['ewallet1']}元</dd>
			</dl>
			<dl>
				<dt>购物币：</dt>
				<dd>{$userinfo['hyjoininvest1']}元</dd>
			</dl>
			<dl>
				<dt>奖金币：</dt>
				<dd>{$userinfo['ewallet2']}元</dd>
			</dl>
			<dl>
				<dt>已购物：</dt>
				<dd>{$userinfo['chijiang2']}元</dd>
			</dl>
			<dl>
				<dt>A市场：</dt>
				<dd>{$userinfo['aall']}人</dd>
			</dl>
			<dl>
				<dt>B市场：</dt>
				<dd>{$userinfo['ball']}人</dd>
			</dl>
		</div>