<div class="nnavtop">
		<a href="javascript:;"class="nlogo"><img src="images/nlogo.png"></a>
		<ul id="nav" class="nav clearfix">
			<li class="nLi">
				<h3><a href="__APP__/Home">首页</a></h3>
			</li>
			<li class="nLi">
				<h3><a href="javascript:;" >管理团队<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="__APP__/Home/ManagementTeam/select">业绩查询</a>
					</li>
					<li>
						<a href="__APP__/Home/ManagementTeam/passthree">会员激活</a>
					</li>
					<li>
						<a href="javascript:;">营销关系</a>
					</li>
					<li>
						<a href="javascript:;">申请服务中</a>
					</li>
				</ul>
			</li>
			<li class="nLi on">
				<h3><a href="javascript:;" target="_blank">财务中心<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
					<li>
						<a href="javascript:;">新闻电视</a>
					</li>
					<li>
						<a href="javascript:;">新闻图片</a>
					</li>
					<li>
						<a href="javascript:;">新闻视频</a>
					</li>
					<li>
						<a href="javascript:; ">新闻专题</a>
					</li>
				</ul>
			</li>
			<li class="nLi ">
				<h3><a href="javascript:;" target="_blank">奖金管理<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
					<li>
						<a href="javascript:;">新闻电视</a>
					</li>
					<li>
						<a href="javascript:;">新闻图片</a>
					</li>
					<li>
						<a href="javascript:;">新闻视频</a>
					</li>
					<li>
						<a href="javascript:; ">新闻专题</a>
					</li>
				</ul>
			</li>
			<li class="nLi">
				<h3><a href="javascript:;" target="_blank">信息安全<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
				
				</ul>
			</li>
			<li class="nLi">
				<h3><a href="javascript:;" target="_blank">服务台<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
				
				</ul>
			</li>
		</ul>
	</div>