<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>外部转币</title>
	<base href="__PUBLIC__/" />
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/mypage.css" />
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/nnavjs.js"></script>
	<script type="text/javascript" src="js/showdate.js" ></script>
</head>

<body>
<div class="nbodybg"></div>
<div class="ncmtbox">
	<include file="public:header" />
	<div class="n_conmentbox">
		<include file="public:left" />
		<!-----错误提示---->
		<div class="L_box" id="redomfalseid" style="display:none;"  >
			<div class="L_box_bj"></div>
			<div class="L_box_con">
				<p class="clearfix">
					<span>未成报单</span>
					<em id="closel">
						<a href="javascript:;"><img src="images/l_close.png" alt=""></a>
					</em>
				</p>
				<div class="L_box_con_one">
					<img src="images/l-m.png" alt="">
					<p class="error_log"></p>
					<p>
						<button id="bnts">确定</button>
					</p>
				</div>
			</div>
		</div>
		<div class="n_cmtrtbox">

			<div class="L_all">

				<div class="L_person nhtcmt">

					<div class="L_person_tit">

						<span>外部转币</span>
					</div>
					<div class="L_person_con">
						<div class="nsqgbox">
							<dl>
								<dt>注册币：</dt>
								<dd class="ewallet1">￥{$userin.ewallet1}</dd>
							</dl>
							<dl>
								<dt>奖金币：</dt>
								<dd class="ewallet2">￥{$userin.ewallet2}</dd>
							</dl>
							<dl>
								<dt>转账金额：</dt>
								<dd><input type="text" name="moneycount" id="moneycount" value=""><span class="ntsspan">低于当前</span></dd>
							</dl>
							<dl>
								<dt>接受帐号：</dt>
								<dd><input type="text" name="hynumberto" id="hynumberto" value="" ><span class="ntsspan">低于当前</span></dd>
							</dl>
							<dl>
								<dt>转账类型：</dt>
								<dd>
									<select id="selectid" name="memo">
										<option  selected="selected">请选择</option>
										<option value="25">注册币转注册币</option>
										<option value="26">奖金币转奖金币</option>
									</select>
								</dd>
							</dl>
							<dl>
								<dt>二级密码：</dt>
								<dd><input type="text" name="password2" id="passwd2" value="" placeholder=""></dd>
							</dl>


						</div>
						<div class="clearfix">
							<button type="submit" id="recharge_submit"  class="nbtntij"style="margin-top:0px">提交</button>
						</div>

						<table class="nddcxtable">
							<tr>
								<th>流水号</th>
								<th>转账编号</th>
								<th>接收编号</th>
								<th>转账金额</th>
								<th>转账类型</th>
								<th>日期</th>
							</tr>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.hynumberfrom}</td>
								<td>{$vo.hynumberto}</td>
								<td>{$vo.moneycount}</td>
								<td>{$vo.memo}</td>
								<td>{$vo.transdate}</td>
							</tr>
							</volist>

						</table>
						<td colspan="3" bgcolor="#FFFFFF">
							<div class="pages">
								{$page}
							</div>
						</td>
					</div>
				</div>
				<!-- 弹框 -->

				<!-- 弹框 -->

				<!-- 底部 -->
				<div class="L_footer">
					<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
				</div>
			</div>

		</div>
	</div>
</div>
<!-----错误页面---------->

<script type="text/javascript">
	$(document).ready(function(){

		var closel=$('#closel');
		var bnts=$('#bnts');
		var box=$('.L_box');
		bnts.click(function() {
			box.hide();
		});
		closel.click(function() {
			box.hide();
		});

		$('#recharge_submit').click(function(){

			var moneycount=$("#moneycount").val();
			var hynumberto=$("#hynumberto").val();
			var memo = $("#selectid option:selected").val();
			var passwd2 =$("#passwd2").val();
			var ewallet1 =$(".ewallet1").text();
			var ewallet2 =$(".ewallet2").text();

			if(moneycount =="" || hynumberto =="" || memo =="" || passwd2 ==""){
				$("#redomfalseid").show();
				$(".error_log").text("请填写信息不能为空");
				return false;
			}
			var re = /^[0-9]+.?[0-9]*$/;   //判断字符串是否为数字     //判断正整数 /^[1-9]+[0-9]*]*$/
			if (!re.test(moneycount)) {
				$("#redomfalseid").show();
				$(".error_log").text("转账金额必须为数字");
				return false;
			}
			if(memo==25){
					if(moneycount >ewallet1){
						$("#redomfalseid").show();
						$(".error_log").text("币不够无法转账");
						return false;
					}
			}
			if(memo ==26){
				if(moneycount >ewallet2){
					$("#redomfalseid").show();
					$(".error_log").text("币不够无法转账");
					return false;
				}
			}
			$.post("__APP__/Home/FinancialCenter/llreflec",{moneycount:moneycount,hynumberto:hynumberto,memo:memo,passwd2:passwd2},function(result) {

					if(result==1){
						$("#redomfalseid").show();
						$(".error_log").text("转币成功");
						location.reload();
					}else if(result==2){
						$("#redomfalseid").show();
						$(".error_log").text("转币成功");
						location.reload();

					}

				});



		});


});

</script>

</body>

</html>