<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>外部转币</title>
	<base href="__PUBLIC__/" />
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/mypage.css" />
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/nnavjs.js"></script>
	<script type="text/javascript" src="js/showdate.js" ></script>
</head>

<body>
<div class="nbodybg"></div>
<div class="ncmtbox">
	<include file="public:header" />
	<div class="n_conmentbox">
		<include file="public:left" />
		<div class="n_cmtrtbox">
			<div class="L_all">
				<div class="L_person nhtcmt">
					<div class="L_person_tit">
						<span>外部转币</span>
					</div>
					<div class="L_person_con">
						<div class="nsqgbox">
							<dl>
								<dt>注册币：</dt>
								<dd>5000</dd>
							</dl>
							<dl>
								<dt>奖金币：</dt>
								<dd>5000</dd>
							</dl>
							<dl>
								<dt>接转账金额：</dt>
								<dd><input type="text" value="$5000"disabled="true"><span class="ntsspan">低于当前</span></dd>
							</dl>
							<dl>
								<dt>接受帐号：</dt>
								<dd><input type="text" value="$5000"disabled="true"><span class="ntsspan">低于当前</span></dd>
							</dl>
							<dl>
								<dt>转账类型：</dt>
								<dd>
									<select>
										<option>请选择</option>
										<option>申请类型1</option>
										<option>申请类型2</option>
									</select>
								</dd>
							</dl>
							<dl>
								<dt>二级密码：</dt>
								<dd><input type="text" value="" placeholder=""></dd>
							</dl>


						</div>
						<div class="clearfix">
							<button type="submit" class="nbtntij"style="margin-top:0px">提交</button>
						</div>
						<table class="nddcxtable">
							<tr>
								<th>流水号</th>
								<th>转账编号</th>
								<th>接收编号</th>
								<th>转账金额</th>
								<th>转账类型</th>
								<th>日期</th>
							</tr>
							<volist name="list" id="vo">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.hynumberfrom}</td>
								<td>{$vo.hynumberto}</td>
								<td>{$vo.moneycount}</td>
								<td>{$vo.memo}</td>
								<td>{$vo.transdate}</td>
							</tr>
							</volist>

						</table>
						<td colspan="3" bgcolor="#FFFFFF">
							<div class="pages">
								{$page}
							</div>
						</td>
					</div>
				</div>
				<!-- 底部 -->
				<div class="L_footer">
					<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
				</div>
			</div>

		</div>
	</div>
</div>

</body>

</html>