<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<base href="__PUBLIC__/">
		<link rel="stylesheet" href="css/nsty.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/mypage.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript" src="js/nnavjs.js"></script>
		<script type="text/javascript" src="js/showdate.js" ></script>
	</head>

	<body>
		<div class="nbodybg"></div>
		<div class="ncmtbox">
			<!-- 导航部分 -->
			<include file="Public:header" />
			<div class="n_conmentbox">
				<!-- 左侧部分 -->
				<include file="Public:left" />
				<div class="n_cmtrtbox">
					<div class="L_all">
						<div class="L_person">
							<div class="L_person_tit">
								<span>账目明细</span>
							</div>
							<div class="L_person_con">
								<table class="nddcxtable njjmx">
									<tr>
										<th>金额</th>
										<th>出账编号</th>
										<th>入账编号</th>
										<th>备注</th>
										<th>日期</th>
									</tr>
									<volist name="list" id="v">
										<tr>
											<td>{$v.moneycount}</td>
											<td>{$v.hynumberfrom}</td>
											<td>{$v.hynumberto}</td>
											<td>{$v.memo}</td>
											<td>{$v.transdate}</td>
										</tr>
									</volist>
								</table>
								<div class="pages">
									{$page}
								</div>
							</div>
						</div>
						<!-- 底部 -->
						<div class="L_footer">
							<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
						</div>
					</div>

				</div>
			</div>
		</div>

	</body>

</html>