<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<base href="__PUBLIC__/">
		<link rel="stylesheet" href="css/nsty.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript" src="js/nnavjs.js"></script>
		<script type="text/javascript" src="js/showdate.js" ></script>
	</head>

	<body>
		<div class="nbodybg"></div>
		<div class="ncmtbox">
			<!-- 导航部分 -->
			<include file="Public:header" />
			<div class="n_conmentbox">
				<!-- 左侧部分 -->
				<include file="Public:left" />
				<!-----错误提示---->
				<div class="n_cmtrtbox">
					<div class="L_all">
						<div class="L_person nhtcmt">
							<div class="L_person_tit">
								<span>申请股东</span>
							</div>
							<div class="L_person_con">
								<div class="nsqgbox">
									<dl>
										<dt>报单数量：</dt>
										<dd>5000</dd>
									</dl>
									<dl>
										<dt>注册币：</dt>
										<dd><input type="text" value="$5000"disabled="true"><span class="ntsspan">低于当前</span></dd>
									</dl>
									<dl>
										<dt>申请类型：</dt>
										<dd>
											<select>
												<option>请选择</option>
												<option>申请类型1</option>
												<option>申请类型2</option>
											</select>
										</dd>
									</dl>
									<dl>
										<dt>申请金额：</dt>
										<dd><input type="text" value="" placeholder=""></dd>
									</dl>
								</div>
								<div class="clearfix">
									<button type="submit" class="nbtntij"style="margin-top:0px">提交</button>
								</div>
								<table class="nddcxtable">
									<tr>
										<th></th>
										<th></th>
										<th>金额</th>
										<th>申请日期</th>
										<th>处理结果</th>
										<th>类型</th>
									</tr>
									<tr>
										<td>报单中心编号</td>
										<td>会员编号</td>
										<td>5000.00</td>
										<td>2016-07-08&nbsp;20:01</td>
										<td>申请通过</td>
										<td>复投</td>
									</tr>
									<tr>
										<td>报单中心编号</td>
										<td>会员编号</td>
										<td>5000.00</td>
										<td>2016-07-08&nbsp;20:01</td>
										<td>申请通过</td>
										<td>复投</td>
									</tr>
								</table>
								<div class="npage">
									<span class="npagetxt">
										到第<input type="number" />页
										<button type="button">GO</button>
									</span>
									<span>第1页/共0页/共0条</span>
									<a href="javascript:;">首页</a>
									<a href="javascript:;">上一页</a>
									<a href="javascript:;"class="pageon">1</a>
									<a href="javascript:;">2</a>
									<a href="javascript:;">3</a>
									<a href="javascript:;">尾页</a>
									
								</div>
							</div>
						</div>
						<!-- 底部 -->
						<div class="L_footer">
							<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
						</div>
					</div>

				</div>
			</div>
		</div>

	</body>

</html>