<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>申请股东</title>
		<base href="__PUBLIC__/">
		<link rel="stylesheet" href="css/mypage.css" />
		<link rel="stylesheet" href="css/nsty.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript" src="js/nnavjs.js"></script>
		<script type="text/javascript" src="js/showdate.js" ></script>
	</head>

	<body>
		<div class="nbodybg"></div>
		<div class="ncmtbox">
			<!-- 导航部分 -->
			<include file="Public:header" />
			<div class="n_conmentbox">
				<!-- 左侧部分 -->
				<include file="Public:left" />
				<!-----错误提示---->
				<div class="L_box" id="redomfalseid" style="display:none;"  >
					<div class="L_box_bj"></div>
					<div class="L_box_con">
						<p class="clearfix">
							<span>未成报单</span>
							<em class="closel">
								<a href="javascript:;"><img src="images/l_close.png" alt=""></a>
							</em>
						</p>
						<div class="L_box_con_one">
							<img src="images/l-m.png" alt="">
							<p class="error_log"></p>
							<p>
								<button class="bnts">确定</button>
							</p>
						</div>
					</div>
				</div>
				<!------------成功提示----->
				<div class="L_box"  id="success_id" style="display:none;">
					<div class="L_box_bj"></div>
					<div class="L_box_con">
						<p class="clearfix">
							<span>未成报单</span>
							<em class="closel">
								<a href="javascript:;"><img src="images/l_close.png" alt=""></a>
							</em>
						</p>
						<div class="L_box_con_one">
							<img src="images/l-succes.png" alt="">
							<p id="success_log">成功</p>
							<p>
								<button class="bnts">确定</button>
							</p>
						</div>
					</div>
				</div>

				<div class="n_cmtrtbox">
					<div class="L_all">
						<div class="L_person nhtcmt">
							<div class="L_person_tit">
								<span>申请股东</span>
							</div>
							<div class="L_person_con">
								<!--<form action="__URL__/shareholder" method="post">-->
									<div class="nsqgbox">
										<dl>
											<dt>申请类型：</dt>
											<dd>
												<select name="approvaltype" id="selectid">
													<option value="B">申请股东分红</option>
												</select>
												</dd>
										</dl>
										<dl>
											<dt>注册币：</dt>
											<dd><input type="text" id="ewallet1" name="ewallet1" value="{$data.ewallet1}"disabled="true"><span class="ntsspan">低于当前</span></dd>
										</dl>
										<dl>
											<dt>申请金额：</dt>
											<dd><input type="text" id="appymarany" name="appymarany" value="5000" placeholder=""></dd>
										</dl>
										<dl>
											<dt>会员编号：</dt>
											<dd>
												<input type="hidden" value="" class="succ_state">
												<input id="hynumber" id="hynumber" stute="" type="text" value="">
												<button type="button" id="veration_number" class="nbtnmsjh">会员验证</button>
											</dd>
										</dl>
										<dl>
											<dt>报单中心编号：</dt>
											<dd><input type="text" id="hymumber_member" name="hymumber_member" value="{$userinfo.hynumber}"></dd>
										</dl>
									</div>
									<div class="clearfix">
										<button type="submit" id="cation_number" class="nbtntij"style="margin-top:0px">提交</button>
									</div>
							<!--	</form>-->
								<table class="nddcxtable">
									<tr>
										<th>金额</th>
										<th>申请日期</th>
										<th>处理结果</th>
										<th>类型</th>
									</tr>
									<volist name="list" id="v">
										<tr>
											<td>{$v.applymoney}</td>
											<td>{$v.applydate}</td>
											<td>{$v.approvalflag}</td>
											<td>{$v.approvaltype}</td>
										</tr>
									</volist>
								</table>
								<div class="pages">
									{$page}
								</div>
							</div>
						</div>
						<!-- 底部 -->
						<div class="L_footer">
							<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				var closel=$('.closel');
				var bnts=$('.bnts');
				var box=$('.L_box');
				bnts.click(function() {
					box.hide();
				});
				closel.click(function() {
					box.hide();
				});
				$('#veration_number').click(function(){
					var hynumber=$("#hynumber").val();

					$.post("__APP__/Home/BonusManagement/VerificationAccount",{hynumber:hynumber},function(result) {
						if(result==1){
							alert('恭喜当前用户可申请成为股东');
							$("#veration_number").html("验证成功");
							$(".succ_state").val('success');
							return true;
						}else{
							alert('该会员还没有资格成功股东');
							$("#veration_number").html("验证失败");
							return false;
						}

					});
				});

				$('#cation_number').click(function(){
					var approvaltype = $("#selectid option:selected").val();
					var ewallet1=parseInt($("#ewallet1").val());
					var appymarany=parseInt($("#appymarany").val());
					var hynumber=$("#hynumber").val();
					var hymumber_member=$("#hymumber_member").val();

					if(ewallet1 < appymarany){
						alert('您的注册币不够申请股东分红');
						return false;
					}
					var succ_state =$(".succ_state").val();
					if(succ_state ==""){
						alert('您还没验证，请点击会员验证');
						return false;
					}

					$.post("__APP__/Home/BonusManagement/AppayBonus",{approvaltype:approvaltype,appymarany:appymarany,hynumber:hynumber},function(result) {
						if(result==1){
							alert('您已经提交申请，请等待审核');
							//$("#cation_number").val("验证成功");
							location.reload();
						}else{
							$("#cation_number").val("验证失败");
						}

					});



				});


			});


		</script>

	</body>

</html>