<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品下单</title>
	<base href="__PUBLIC__/">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
<!-- 弹框 -->
<div class="L_box">
	<div class="L_box_bj"></div>
	<div class="L_box_con">
		<p class="clearfix">
			<span>{$res.title}</span>
			<em id="closel">
				<a href="javascript:;"><img src="images/l_close.png" alt=""></a>
			</em>
		</p>
		<div class="L_box_con_one">
			<img src="images/l-m.png" alt="">
			<p>{$res.content}</p>
			<p>
				<button id="bnts">确定</button>
			</p>
		</div>
	</div>
</div>
</body>
<script>
	$(function(){
		var closel=$('#closel');
		var bnts=$('#bnts');
		var box=$('.L_box');
		bnts.click(function() {
			box.hide();
			history.go(-1);
		});
		closel.click(function() {
			box.hide();
			history.go(-1);
		});
	})
</script>
</html>