<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<base href="__PUBLIC__/">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/mypage.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/nnavjs.js"></script>
	<script type="text/javascript" src="js/showdate.js" ></script>
</head>
<body>
<div class="hg-center">
	<div class="ncmtbox">
		<!-- 导航部分 -->
		<include file="Public:header" />
		<!-- 左侧菜单列表 -->
		<include file="Public:left" />
		<!-- 右侧商品列表 -->
		<div class="L_shoping_con fr" style="width: 860px;">
			<div class="L_shoping_con_nav">
				<ul>
					<volist name="list" id="v">
						<li>
							<a href="__URL__/goods_info?xnprocid={$v.xnprocid}">
								<dl>
									<dt><img src="Public/{$v.xnpicpath}" alt=""></dt>
									<dd><font color="red">{$v.xnprocname}</font></dd>
									<dd style="font-size: 8px;">会员价格:￥{$v.xnmemprice}</dd>
									<dd style="font-size: 8px;">产品积分:{$v.xnjf}</dd>
								</dl>
							</a>
						</li>
					</volist>
				</ul>
			</div>
		</div>
		<!-- 底部分页 -->
		<div class="pages" style="float: right; margin-right: 186px;">
			{$page}
		</div>
	</div>
</div>
</body>
<script>
$(function(){
	$('.L_shoping_nav li').hover(
		function() {
			var index=$(this).index();
			$(this).css('background','#000').siblings().css('background','#920303');
			$(".L_shoping_con .L_shoping_con_nav").eq(index).show().siblings().hide();  
		}); 
})
</script>
</html>