<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>留言反馈</title>
	<base href="__PUBLIC__/">
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="nbodybg"></div>
<div class="ncmtbox clearfix">
	<!-- 导航部分 -->
	<include file="public:header" />
	<div class="n_conmentbox">
		<!-- 左侧部分 -->
		<include file="public:left" />
		<!-- 右侧部分 -->
		<div class="n_cmtrtbox">
			<div class="L_all">
				<!-- 留言反馈 -->
				<div class="L_person">
					<div class="L_person_tit">
						<span>留言反馈</span>
					</div>
					<!--  -->
					<div class="L_person_con">
							<p>
								<label for="Umiss">
									<span>反馈意见</span>
								</label>
								<textarea id="Umiss" rows="10" cols="90" placeholder="不少于30字"></textarea>
							</p>
						</div>
						<div class="L_lanage_bnt">
							<button id="bnts">提交</button>
						</div>
					</div>
				</div>
				<!-- 底部 -->
				<div class="L_footer">
					<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery("#nav").slide({
		type: "menu", // 效果类型，针对菜单/导航而引入的参数（默认slide）
		titCell: ".nLi", //鼠标触发对象
		targetCell: ".sub", //titCell里面包含的要显示/消失的对象
		effect: "slideDown", //targetCell下拉效果
		delayTime: 300, //效果时间
		triggerTime: 0, //鼠标延迟触发时间（默认150）
		returnDefault: true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
	});
</script>
</body>	
<script>
	$("#bnts").click(function(){
		if($("#Umiss").val()==''){
			alert('请输入反馈意见');
		}else{
			$.post("__URL__/message",{ mes:$("#Umiss").val()}, function(msg){

			});
		}
	});
</script>
</html>