<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>结算页</title>
	<base href="__PUBLIC__/">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/mypage.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/nnavjs.js"></script>
	<script type="text/javascript" src="js/showdate.js" ></script>
	<style>
	body{
		background: #fff;
	}
	</style>
</head>
<body>
<div class="ncmtbox">

	<!-- 导航部分 -->
	<include file="Public:header" />
	<!-- 购买信息 -->
	<div class="check_order_center">
		<div class="form_tab">
			<table>
				<tr class="tr1">
					<td>流水号</td>
					<td>下单时间</td>
					<td>会员编号</td>
					<td>名字</td>
					<td>会员地址</td>
					<td>会员电话</td>
					<td>订单明细</td>
					<td>支付状态</td>
					<td>发货状态</td>
					<td>总费用</td>
					<td>总PV</td>
					<td>类型</td>
					<td>处理历史</td>
				</tr>
				<volist name="list" id="v">
					<tr>
						<td>{$v.did}</td>
						<td>{$v.ddate}</td>
						<td>{$v.hynumber}</td>
						<td>{$v.hyname}</td>
						<td>{$v.hyaddress}</td>
						<td>{$v.hymobile}</td>
						<td>{$v.ddetails}</td>
						<td>
							<if condition="$v.dstate eq 1">
								已付款[{$v.dzfdate}]
								<else />
								<a href="__URL__/zhifu?did={$v.did}"><font color="red">现在支付</font></a>
							</if>
						</td>
						<td>
							<if condition="$v.wlzt eq 1">
								已发货
								<else />
								未发货
							</if>
						</td>
						<td>￥{$v.dmeonty}</td>
						<td>{$v.dpv}</td>
						<td>虚构订单</td>
						<td>{$v.dls}</td>
					</tr>
				</volist>
			</table>
			<div class="pages" style="float: right; margin-right: 186px;">
				{$page}
			</div>
		</div>

	</div>
</div>
<!-- 尾部 -->
<div class="hg-footer">
	<div class="hg-footer-bor">
		<div class="hg-footer-back">Copyright@深圳恒区精密器材有限公司  版权所有     粤ICP: 20160702536</div>
	</div>
</div>	
</body>
</html>