<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>结算页</title>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.min.js"></script>
	<style>
	body{
		background: #fff;
	}
	</style>
</head>
<body>
<div class="check_order">
	<div class="check_order_tltie">
		<div class="logos clearfix">
			<img src="images/q1.png">
			<p>结算页</p>
		</div>
	</div>
	<!-- 购买信息 -->
	<div class="check_order_center">
		<div class="form_tab">
			<table>
				<tr class="tr1">
					<td  width="50">产品图片</td>
					<td>产品名称</td>
					<td>属性</td>
					<td>单价（元）</td>
					<td>数量</td>
					<td>小计</td>
				</tr>
				<tr>
					<td><img  src="images/q25.png"></td>
					<td>步进电机产品</td>
					<td>电压：550V </td>
					<td>1500.00 </td>
					<td>1</td>
					<td> 1500.00</td>
				</tr>
				<tr>
					<td><img  src="images/q25.png"></td>
					<td>步进电机产品</td>
					<td>电压：550V </td>
					<td>1500.00 </td>
					<td>1</td>
					<td> 1500.00</td>
				</tr>
			</table>
			<div class="stock_list clearfix">
				<div class="dx_btns3">库存不足时:</div>
				<div class="dx_btns1 clearfix">
					<input type="radio" name="b" id="radios3" checked>
					<label for="radios3"><span>先发有货产品</span></label>
				</div>
				<div class="dx_btns1 clearfix">
					<input type="radio" name="b" id="radios4">
					<label for="radios4"><span>备齐后一起发</span></label>
				</div>
			</div>
			<div class="yf_remarks clearfix">
				<div class="yf_remarks_left">
					<span>备注：</span>
					<textarea name=""></textarea>
				</div>
				<div class="yf_remarks_right">
					<p><em>应付金额：</em><i>¥10000</i></p>
				</div>
			</div>
			<div class="yf_total">
				<span>实付总额：</span>
				<i>¥10000</i>
			</div>
		</div>
		<div class="yf_submit">
			<div class="yf_submit_cen">
				<a href="javascript:;" class="a1"><span>刷新</span></a>
				<a href="javascript:;">提交订单</a>
			</div>
		</div>
	</div>
</div>
<!-- 尾部 -->
<div class="hg-footer">
	<div class="hg-footer-bor">
		<div class="hg-footer-back">Copyright@深圳恒区精密器材有限公司  版权所有     粤ICP: 20160702536</div>
	</div>
</div>	
</body>
</html>