<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>留言反馈</title>
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="nbodybg"></div>
<div class="ncmtbox clearfix">
	<div class="nnavtop">
		<a href="javascript:;"class="nlogo"><img src="images/nlogo.png"></a>
		<ul id="nav" class="nav clearfix">
			<li class="nLi">
				<h3><a href="javascript:;" target="_blank">首页</a></h3>
			</li>
			<li class="nLi">
				<h3><a href="javascript:;" target="_blank">管理团队<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">业绩激活</a>
					</li>
					<li>
						<a href="javascript:;">会员激活</a>
					</li>
					<li>
						<a href="javascript:;">营销关系</a>
					</li>
					<li>
						<a href="javascript:;">申请服务中</a>
					</li>
				</ul>
			</li>
			<li class="nLi on">
				<h3><a href="javascript:;" target="_blank">财务中心<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
					<li>
						<a href="javascript:;">新闻电视</a>
					</li>
					<li>
						<a href="javascript:;">新闻图片</a>
					</li>
					<li>
						<a href="javascript:;">新闻视频</a>
					</li>
					<li>
						<a href="javascript:; ">新闻专题</a>
					</li>
				</ul>
			</li>
			<li class="nLi ">
				<h3><a href="javascript:;" target="_blank">奖金管理<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
					<li>
						<a href="javascript:;">新闻电视</a>
					</li>
					<li>
						<a href="javascript:;">新闻图片</a>
					</li>
					<li>
						<a href="javascript:;">新闻视频</a>
					</li>
					<li>
						<a href="javascript:; ">新闻专题</a>
					</li>
				</ul>
			</li>
			<li class="nLi">
				<h3><a href="javascript:;" target="_blank">信息安全<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
				
				</ul>
			</li>
			<li class="nLi">
				<h3><a href="javascript:;" target="_blank">服务台<span></span></a></h3>
				<ul class="sub">
					<li>
						<a href="javascript:;">新闻首页</a>
					</li>
					<li>
						<a href="javascript:;">新闻人物</a>
					</li>
				
				</ul>
			</li>
		</ul>
	</div>
	<div class="n_conmentbox">
		<!-- 左侧部分 -->
		<div class="n_cmtltbox">
			<a href="javascript:;"class="nphoto"><img src="images/npic1.png"></a>
			<dl>
				<dt>会员编号：</dt>
				<dd>gs0001</dd>
			</dl>
			<dl>
				<dt>会员姓名：</dt>
				<dd>张三</dd>
			</dl>
			<dl>
				<dt>会员系统：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>股东系统：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>养老系统：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>注册币：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>购物币：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>奖金币：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>已购物：</dt>
				<dd>10000元</dd>
			</dl>
			<dl>
				<dt>A市场：</dt>
				<dd>11020人</dd>
			</dl>
			<dl>
				<dt>B市场：</dt>
				<dd>11020人</dd>
			</dl>
		</div>
		<!-- 右侧部分 -->
		<div class="n_cmtrtbox">
			<div class="L_all">
				<!-- 留言反馈 -->
				<div class="L_person">
					<div class="L_person_tit">
						<span>留言反馈</span>
					</div>
					<!--  -->
					<div class="L_person_con">
						<div class="L_person_lanage clearfix">
							<p>
								<label for="Utit">
									<span>主题:</span>
								</label>
								<input type="text" id="Utit" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</p>
							<p>
								<label for="Uclass">
									<span>类型:</span>
								</label>
								<input type="text" id="Uclass" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
								<em>*请填写反馈信息类型</em>
								<b id="text1">
								</b>
							</p>
							<p>
								<label for="Uname">
									<span>姓名:</span>
								</label>
								<input type="text" id="Uname" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</p>
							<p>
								<label for="Upho">
									<span>联系电话:</span>
								</label>
								<input type="text" id="Upho" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</p>
							<p>
								<label for="Uadd">
									<span>联系地址:</span>
								</label>
								<input type="text" id="Uadd" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
								<em>*请填写有效的联系地址</em>
								<b id="text2">
								</b>
							</p>
							<p>
								<label for="Umail">
									<span>E-mail:</span>
								</label>
								<input type="text" id="Umail" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
								<em>*请填写有效的E-mail,方便我们及时联系您</em>
								<b id="text3">
								</b>
							</p>
							<p>
								<label for="Umiss">
									<span>反馈意见</span>
								</label>
								<textarea id="Umiss" placeholder="不少于30字"></textarea>
							</p>
						</div>
						<div class="L_lanage_bnt">
							<button id="bnts">提交</button>
						</div>
					</div>
				</div>
				<!-- 底部 -->
				<div class="L_footer">
					<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery("#nav").slide({
		type: "menu", // 效果类型，针对菜单/导航而引入的参数（默认slide）
		titCell: ".nLi", //鼠标触发对象
		targetCell: ".sub", //titCell里面包含的要显示/消失的对象
		effect: "slideDown", //targetCell下拉效果
		delayTime: 300, //效果时间
		triggerTime: 0, //鼠标延迟触发时间（默认150）
		returnDefault: true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
	});
</script>
</body>	
<script>
$(function(){
	var Uclass=$('#Uclass');
	var Uadd=$('#Uadd');
	var Umail=$('#Umail');
	// 显示文字验证
	var text1=$('#text1');
	var text2=$('#text2');
	var text3=$('#text3');
	var bnts=$('#bnts');

	// 验证邮箱
	var search_str = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;

	bnts.click(function() {
		if (Uclass.val()=='') {
			text1.text('请输入类型');
			return false;
		}else{
			text1.text('');
		}
		if (Uadd.val()=='') {
			text2.text('请输入联系地址');
			return false;
		}else{
			text2.text('');
		}
		if(!search_str.test(Umail.val())){       
			text3.text('请输入正确的邮箱格式');
			return false; 
		}else{
			text3.text('');
		}
	});
})
</script>
</html>