<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/nsty.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript" src="js/nnavjs.js"></script>
		<script type="text/javascript" src="js/showdate.js" ></script>
	</head>

	<body>
		<div class="nbodybg"></div>
		<div class="ncmtbox">
			<div class="nnavtop">
				<a href="javascript:;" class="nlogo"><img src="images/nlogo.png"></a>
				<ul id="nav" class="nav clearfix">
					<li class="nLi">
						<h3><a href="javascript:;" target="_blank">首页</a></h3>
					</li>
					<li class="nLi">
						<h3><a href="javascript:;" target="_blank">管理团队<span></span></a></h3>
						<ul class="sub">
							<li>
								<a href="javascript:;">业绩激活</a>
							</li>
							<li>
								<a href="javascript:;">会员激活</a>
							</li>
							<li>
								<a href="javascript:;">营销关系</a>
							</li>
							<li>
								<a href="javascript:;">申请服务中</a>
							</li>
						</ul>
					</li>
					<li class="nLi on">
						<h3><a href="javascript:;" target="_blank">财务中心<span></span></a></h3>
						<ul class="sub">
							<li>
								<a href="javascript:;">新闻首页</a>
							</li>
							<li>
								<a href="javascript:;">新闻人物</a>
							</li>
							<li>
								<a href="javascript:;">新闻电视</a>
							</li>
							<li>
								<a href="javascript:;">新闻图片</a>
							</li>
							<li>
								<a href="javascript:;">新闻视频</a>
							</li>
							<li>
								<a href="javascript:; ">新闻专题</a>
							</li>
						</ul>
					</li>
					<li class="nLi ">
						<h3><a href="javascript:;" target="_blank">奖金管理<span></span></a></h3>
						<ul class="sub">
							<li>
								<a href="javascript:;">新闻首页</a>
							</li>
							<li>
								<a href="javascript:;">新闻人物</a>
							</li>
							<li>
								<a href="javascript:;">新闻电视</a>
							</li>
							<li>
								<a href="javascript:;">新闻图片</a>
							</li>
							<li>
								<a href="javascript:;">新闻视频</a>
							</li>
							<li>
								<a href="javascript:; ">新闻专题</a>
							</li>
						</ul>
					</li>
					<li class="nLi">
						<h3><a href="javascript:;" target="_blank">信息安全<span></span></a></h3>
						<ul class="sub">
							<li>
								<a href="javascript:;">新闻首页</a>
							</li>
							<li>
								<a href="javascript:;">新闻人物</a>
							</li>

						</ul>
					</li>
					<li class="nLi">
						<h3><a href="javascript:;" target="_blank">服务台<span></span></a></h3>
						<ul class="sub">
							<li>
								<a href="javascript:;">新闻首页</a>
							</li>
							<li>
								<a href="javascript:;">新闻人物</a>
							</li>

						</ul>
					</li>
				</ul>

			</div>
			<div class="n_conmentbox">
				<div class="n_cmtltbox">
					<a href="javascript:;" class="nphoto"><img src="images/npic1.png"></a>
					<dl>
						<dt>会员编号：</dt>
						<dd>gs0001</dd>
					</dl>
					<dl>
						<dt>会员姓名：</dt>
						<dd>张三</dd>
					</dl>
					<dl>
						<dt>会员系统：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>股东系统：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>养老系统：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>注册币：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>购物币：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>奖金币：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>已购物：</dt>
						<dd>10000元</dd>
					</dl>
					<dl>
						<dt>A市场：</dt>
						<dd>11020人</dd>
					</dl>
					<dl>
						<dt>B市场：</dt>
						<dd>11020人</dd>
					</dl>
				</div>
				<div class="n_cmtrtbox">
					<div class="L_all">
						<!-- 个人资料 -->
						<div class="L_person">
							<div class="L_person_tit">
								<span>订单查询</span>
							</div>
							<div class="L_person_con">
								<div class="n_ddcxtit">
									<span>厂商名称</span>
									<select>
										<option>德芙巧克力</option>
										<option>厂商名称22</option>
										<option>厂商名称333</option>
									</select>
									<span>开始时间</span>
	<input type="text" id="time" value=""placeholder="选择时间" onClick="return Calendar('time');" class="ntext_time"/>
	<span>结束时间</span>
	<input type="text" id="time2" value=""placeholder="选择时间" onClick="return Calendar('time2');" class="ntext_time"/>
	<button type="button" class="nchaxbtn">查询</button>
								</div>
								<table class="nddcxtable">
									<tr>
										<th>厂商名称</th>
										<th>进货商品</th>
										<th>活动标题</th>
										<th>价格</th>
										<th>开始时间</th>
										<th>结束时间</th>
									</tr>
									<tr>
										<td>德芙巧克力</td>
										<td>500箱</td>
										<td>订6箱送一箱</td>
										<td>500</td>
										<td>2016-09-01</td>
										<td>2016-09-21</td>
									</tr>
									<tr>
										<td>德芙巧克力</td>
										<td>500箱</td>
										<td>订6箱送一箱</td>
										<td>500</td>
										<td>2016-09-01</td>
										<td>2016-09-21</td>
									</tr>
									<tr>
										<td>德芙巧克力</td>
										<td>500箱</td>
										<td>订6箱送一箱</td>
										<td>500</td>
										<td>2016-09-01</td>
										<td>2016-09-21</td>
									</tr>
									
								</table>
								<div class="npage">
									<a href="javascript:;">上一页</a>
									<a href="javascript:;"class="pageon">1</a>
									<a href="javascript:;">2</a>
									<a href="javascript:;">3</a>
									<a href="javascript:;">下一页</a>
									<a href="javascript:;">共3页</a>
								</div>						
							</div>
						</div>
						<!-- 底部 -->
						<div class="L_footer">
							<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
						</div>
					</div>

				</div>
			</div>
		</div>

	</body>

</html>