<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<base href="__PUBLIC__/" />
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/mypage.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="js/nnavjs.js"></script>
	<script type="text/javascript" src="js/showdate.js" ></script>
</head>

<body>
<div class="nbodybg"></div>
<div class="ncmtbox">
	<!-- 导航部分 -->
	<include file="public:header" />
	<div class="n_conmentbox">
		<!-- 左侧部分 -->
		<include file="public:left" />
		<div class="n_cmtrtbox">
			<div class="L_all">
				<!-- 个人资料 -->
				<div class="L_person">
					<div class="L_person_tit">
						<span>会员激活</span>
					</div>
					<div class="L_person_con">
						<div class="n_ddcxtit">
							<span>会员编号:</span>
							<form action="__URL__/activation"  method="post" >
							<input type="text" name="hynumber" class="n_huiybh"/>
							<button type="submit" class="nchaxbtn">查询</button>
							</form>
						</div>
						<table class="nddcxtable">
							<tr>
								<th>会员编号</th>
								<th>姓名</th>
								<th>推荐人</th>
								<th>接点人</th>
								<th>加入时间</th>
								<th>消费总额</th>
								<th>激活时间</th>
								<th>当前状态</th>
								<th></th>
							</tr>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.hynumber}</td>
									<td>{$vo.hyname}</td>
									<td>{$vo.hytjnumber}</td>
									<td>{$vo.hyparentnumber}</td>
									<!--<td>{$vo.registertime}<br />16:22</td>-->
									<td>{$vo.registertime}</td>
									<td>{$vo.hyjoininvest}</td>
									<if condition="($vo.isapproved eq 1) ">
										<td>{$vo.approvedtime}</td>
										<else />
										<td></td>
									</if>
									<if condition="($vo.isapproved eq 1) ">
										<td>已激活</td>
										<else />
										<td>未激活</td>
									</if>

									<if condition="($vo.isapproved neq 1) ">
										<td><button type="button"class="nbtnmsjh" activ="{$vo.id}"  >马上激活</button><br />
											<button type="button"class="nbtndel" activ_del="{$vo.id}">删除会员</button></td>
										<else />
										<td></td>
									</if>
								</tr>
							</volist>

						</table>

						<td colspan="3" bgcolor="#FFFFFF"><div class="pages">
							{$page}
						</div></td>
					</div>
				</div>
				<!-- 底部 -->
				<div class="L_footer">
					<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
				</div>
			</div>

		</div>
	</div>
</div>

</body>
<script type="text/javascript">
	$(document).ready(function() {
		$('.nbtnmsjh').click(function(){
			alert('您确认要删除吗?');
			var acti_id =$(this).attr("activ_del");

			//var acti_id=$("#acti_id").val();
			$.post("__APP__/Home/ManagementTeam/Activate_delete",{id:acti_id},function(result) {
				if(result){
					alert('删除成功');
					location.reload();
				}


			});

		});
//删除会员
		$('.nbtndel').click(function(){
			var acti_id =$(this).attr("activ");

			//var acti_id=$("#acti_id").val();
			$.post("__APP__/Home/ManagementTeam/Activate_immediately",{id:acti_id},function(result) {
				if(result){
					alert('激活成功');
					location.reload();
				}


			});

		});



	});
</script>

</html>