<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>业务查询</title>
	<base href="__PUBLIC__/" />
	<link rel="stylesheet" href="css/nsty.css" />
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div class="nbodybg"></div>
<div class="ncmtbox clearfix">
	<!-- 导航部分 -->
	<include file="public:header" />
	<div class="n_conmentbox">
		<!-- 左侧部分 -->
		<include file="public:left" />
		<!-- 右侧部分 -->
		<div class="n_cmtrtbox">
			<div class="L_all">
				<!-- 留言反馈 -->
				<div class="L_person">
					<div class="L_person_tit">
						<span>业务查询</span>
					</div>
					<!--业务查询  -->
					<div class="L_querys">
						<div class="L_querys_search clearfix">
							<label for="Unam"><span>账户:</span></label>
							<input type="text" id="Unam" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							<a>
								<button id="Usea">搜所</button>
							</a>
							<em>
								<button>申请成为报单中心</button>
							</em>
						</div>
						<div class="L_querys_con">
							<div class="L_querys_con1">
								<p>
									编号:<span>gs0001</span>
								</p>
								<p>
									姓名:<span>张三</span>
								</p>
								<p>
									消费额度:<span>100000</span>
								</p>
								<p>
									A市场业绩:<span>12222222</span>
								</p>
								<p>
									B市场业绩:<span>44444</span>
								</p>
							</div>
							<div class="L_querys_conm clearfix">
								<div class="L_querys_con1 fl">
									<h3>A点</h3>
									<p>
										编号:<span>gs0003</span>
									</p>
									<p>
										姓名:<span>张三</span>
									</p>
								</div>
								<div class="L_querys_con1 L_querys_con2 fr">
									<h3>B点</h3>
									<p>空市场</p>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 底部 -->
				<div class="L_footer">
					<p>提示:禁区(内容最多不要涉及到灰色区域)灰色区域开发时不显示</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery("#nav").slide({
		type: "menu", // 效果类型，针对菜单/导航而引入的参数（默认slide）
		titCell: ".nLi", //鼠标触发对象
		targetCell: ".sub", //titCell里面包含的要显示/消失的对象
		effect: "slideDown", //targetCell下拉效果
		delayTime: 300, //效果时间
		triggerTime: 0, //鼠标延迟触发时间（默认150）
		returnDefault: true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
	});
</script>
</body>	
<script>
$(function(){
	var Usea=$('#Usea');
	var Unam=$('#Unam');
	Usea.click(function() {
		if (Unam.val()=='') {
			alert('搜索内容不能为空');
		}
	});
})
</script>
</html>